{% extends "base_cd.html" %}
{% load static %}
{% block header %}


<title>Daily Challange - The Conundrum </title>
{% endblock  %}


{% block content %}


<div style="min-height: 100vh;">

    <div class="row">
        <div class="col-md-6 offset-md-3 game-heading-wrapper">
            <div class="game-heading"> Conundrum Round </div> 
            <div id="test"></div>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-6 game-scores-wrapper">
            <div class="row" style="width: 100%;">
                <div class="col-md-3 offset-md-3">
                    <span> Round Score : </span>  <span id="roundscore"></span>
                </div>
                <div class="col-md-3" style="text-align: right;"><span>Total Score:</span> <span id="totalscore"></span> 
                </div>
            </div>
        </div>
    </div> 
  
    <div class="row">
        <div class="col-md-6 game-display-wrapper">
            <div>
                <span id="time">&nbsp;</span>
            </div> 
            <div id="display"></div>

            <div id="input-letters" style="margin-top: 10px; margin-bottom: 15px;">
                <form action="" name="myForm">
                    <input type="text"  class="my-input" id="input_answer" name="answer" />
                </form>
            </div>
            <div id="display"></div>
            <div id="saved"></div>
            <div id="control" style="text-justify: center;">
                <button onclick="makeButtons(cndWord,9,3)" class="btnControl">Reveal Letters</button>
            </div>
            <div id="message"></div>
            <div id="message2"></div>

            <div class="col-md-6 offset-md-3">
                <div id="meaning"></div>
            </div>
            <div id="finish"></div>        
        </div>
    </div>

        <script type="text/javascript">
            let gameType = 3
            let archiveGame = sessionStorage.getItem('archivedGame')

            let totalScore = Number(sessionStorage.getItem("totalScore"))
            document.getElementById("totalscore").innerHTML = totalScore
            
            if (sessionStorage.conScore) {
                document.getElementById("roundscore").innerHTML = Number(sessionStorage.getItem("conScore"))
                document.getElementById("control").innerHTML = ''
                document.getElementById("message").innerHTML = "You have already played this round" +
                    "<br/>" +
                    '<button class="btnControl2" onclick="getUrl()" >Review and Submit Results &#10140;</button>'
            } else {
                if (archiveGame == 'true') {
                    var cndWord = sessionStorage.getItem('cndword')
                } else {
                    var cndWord = '{{conundrum}}'
                }                
            }
        </script>

</div>

{% endblock  %}