{% extends "base_cd.html" %}
{% load static %}

{% block header %}


<title>Letters Game</title>
{% endblock  %}

{% block content %}

<div style="min-height: 100vh;">
    <div class="row">
        <div class="col-md-6 offset-md-3 game-heading-wrapper">
            <div class="game-heading"> Letters Game Round </div> 
        </div>
    </div> 
    <div class="row">
        <div class="col-md-6 game-scores-wrapper">
            <div class="row" style="width: 100%;">
                <div class="col-md-3 offset-md-3">
                    <span> Round Score : </span>  <span id="roundscore"></span>
                </div>
                <div class="col-md-3" style="text-align: right;"><span>Total Score:</span> <span id="totalscore"></span> 
                </div>
            </div>
        </div>
    </div>   
    <div class="row">
        <div class="col-md-6 game-display-wrapper">

            <div id="display" style="min-height:70px;"></div>
            <div>
                <span id="time">&nbsp;</span>
            </div> 

            <div id="display" class="mrgtb-5"></div>

            <div id="input-letters">
                <form name="myForm">
                    <input type="text" class="my-input"  id="input_answer" name="answer">
                </form>
            </div>

            <div id="saved" style="height: 55px;"></div>
            <div id="control">
                <button onclick="makeButtons(letArray,9,gameType)" class="btnControl">Reveal Letters</button>
            </div>

            <div id="message"></div>
            <div class="col-md-6 offset-md-3">
                <div id="meaning"></div>
            </div>
            <div id="finish"></div>

        </div>
    </div>
        <script type="text/javascript">
            let gameType = 1
            let archivedGame = sessionStorage.getItem('archivedGame')
            let letScore = sessionStorage.getItem("letScore")
            let totalScore = sessionStorage.getItem("totalScore")
            if (sessionStorage.letScore) {    
                document.getElementById("roundscore").innerHTML = letScore;
                document.getElementById("totalscore").innerHTML = totalScore;
                document.getElementById("control").innerHTML = "You have already played this round" + "<br/>" +
                    '<button class="btnControl2" onclick="getUrl()" >Continue to Numbers Game &#10140;</button>'
            }
            else {
                document.getElementById("input_answer").disabled = true;
                myForm.input_answer.value = ""
                if (archivedGame == 'true') {
                    var letString = sessionStorage.getItem('letString')
                } else {
                    var letString = '{{ my_letters }}'
                }
                var letArray = letString.split("")
            }
        </script>
</div>


{% endblock  %}