html {
  scroll-behavior: smooth;
  height: 100%;
  }
  
body {
  font-family: 'Cabin', sans-serif;  
  color: black;
  margin: 0px; padding:0px;
  height: 100%;
  font-size: 1.1rem;
}

@font-face {
  font-family: myCalcFont;
  src: url(calculator.ttf);
}

.navbar-row {
	/* background-color: rgb(13, 183, 189);  */
  background-color: rgb(76, 253, 244); 
}
.black{
	color: rgb(2, 19, 10)
}
.black:hover{
	color: rgb(148, 140, 143);
}

.anim {
  background: linear-gradient(-45deg, rgb(42, 156, 185), rgb(159, 90, 223), rgb(42, 156, 185), rgb(159, 90, 223) );
  background-size: 400% 400%; 
  animation: gradient 15s ease infinite;
  height: 100%;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

li::first-letter {
  text-transform: capitalize;
}

.game-heading-wrapper {
  background-color: rgb(144, 76, 253); 
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  /* width: 100%;  */
  padding:10px
}

.game-heading{
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  font-weight:  bold;
}

.game-sub-heading{
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-weight:  bold;
  margin:10px 0;
}

.star {
  position: relative;
  letter-spacing: 0.1em;
  margin-top:10px;
  margin-left: 30px;
  color: gold;
  text-decoration: underline;
}

.game-display-wrapper{
  text-align: center; 
  display: flex; 
  /* background-color: tomato; */
  flex-direction: column; 
  justify-content: center; 
  width: 100%; 
  padding:10px
}


.page-wrapper-inner {
  background-color: rgb(96, 204, 199);
  min-height: 100vh;
  top: 20px;
  padding-top: 20px;
  position: relative;
}

.my-field {
  margin-top: 5px;
  width: 500px;
}

.pad-30 {
  padding: 30px 0px
}

.pad-20 {
  padding: 20px 0px
}


button {
  background: rgb(39, 43, 172);
  background: linear-gradient(90deg, rgb(83, 50, 241) 10%, rgb(115, 21, 238) 55%);
  color: white;
  border: solid 1px white;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  outline: none;

}

button:disabled {
  background: rgb(131, 132, 145);
}

.btnControl {
  background: rgb(39, 43, 172);
  padding: 16 2 16 2px;
  border-radius: 5px;
  min-width: 75px;
  width: auto;
  height: 40px;
  color: white;
  border: #FFFFFF 1px solid;
  margin: 2px;
  outline: none;
  font-size: 1rem;
}

.btnControl2 {
  background: rgb(144, 76, 253); 
  padding: 16 2 16 2px;
  width: auto;
  min-width: 75px;
  height: 40px;
  color: white;
  border: #FFFFFF 1px solid;
  border-radius: 4px;
  margin: 2px;
  outline: none;
  font-size: 1rem;
  transition-duration: 0.4s;
}

.btnControl2:hover {
  background: rgb(113, 58, 202); 
}




.btnClass1 {
  background: rgb(39, 43, 172);
  background: linear-gradient(90deg, rgb(83, 50, 241) 10%, rgb(115, 21, 238) 55%);
  color: white;
  min-width: 50px;
  width: auto;
  height: 50px;
  margin: 2px;
  border: solid 1px white;
  outline: none;
}

.btnClass2 {
  background: purple;
  color: white;
  min-width: 50px;
  width: auto;
  height: 50px;
  margin: 2px;
  border: solid 1px white;
  outline: none;
}


.my-input{
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 4px;
  height: 50px;
  width: 200px;
  margin-bottom: 15px;
}



@media screen and (max-width: 550px) {

.my-input {
  padding: 5px;
  border: 1px solid #000000;
  height: 50px;
  size: 9;
  font-size: 1.2rem;
  width: 80%;
  border-radius: 4px;
  margin-bottom: 3px;
}
}


.scores {
  font-size:1.5rem;
  color: rgb(255, 255, 255);
  justify-content: center; 
  white-space: nowrap;
  width: 100%;
}

.meaning{
  max-width: 620px;
}

.link-txt {
  color: rgb(255, 255, 255);
}

.link-txt:hover {
  color: rgb(255, 255, 255);
  opacity: 0.5;
  text-decoration: none;
}



#time {
  font-family: myCalcFont;
  font-size: 25px; 
  font-weight: bold;
  color: white;
  text-align: right;
  height: 50px;
}

#finish {
  color: white;
  height: 80px;
}

#block{
  font-size: 0.8em;
  display: inline-block;
 }

#solution {
  font-size: 1.3em;
  margin: 10px 0px;
}

#message {
  font-size: 1.2em;
  /* width: 100%; */
  height: auto;
}

.footer-class {
  padding-top: 15px;
	background-color: rgb(188, 207, 223); 
	color: slategrey;
	font-weight: lighter;
  left: 0;
	right: 0;
  position: relative;
  bottom: 0;
}

.nav-footer{
	text-decoration: none;
	color:slategrey;
} 

.list-style {
  margin-left:10%;
  text-align: left;
}